### TRANSFORMING  CODE INTO IDIATIC PYTHON
- replace traditional index manupulation with python core looping idiomatic

In [4]:
# Looping over a range of numbers - Traditional Approch
for i in [0,1,2,3,4,5]:
    print(i**2,end=" ")

0 1 4 9 16 25

In [5]:
# Idiomatic programming
for i in range(6):
    print(i**2,end=" ")

0 1 4 9 16 25

###  LOOPING OVER A COLLECTION

In [7]:
colors = ['red','green','yellow','purple']
for i in range(len(colors)):
    print(colors[i],end=" ")

red green yellow purple

In [9]:
for color in colors:
    print(color,end=" ")

red green yellow purple

### looping backwards

In [10]:
colors = ['red','green','yellow','purple']
for i in range(len(colors)-1,-1,-1):
    print(colors[i],end=" ")

purple yellow green red

In [12]:
for color in reversed(colors):
    print(color)

purple
yellow
green
red

In [13]:
colors =['red','green','yellow','purple']
for color in sorted(colors):
    print(color,end=" ")

green purple red yellow

In [14]:
colors=['red','green','yellow','purple']
for color in sorted(colors,reverse=True):
    print(color,end=" ")

yellow red purple green

### 
- if x <= y and y <= z:
- if  x<=y<=z:
- if x == True:
- if x:

### Pandas

In [5]:
import pandas as pd

In [6]:
dt = {'Id':[11,12,13,14,15],
     'first_name':['A','B','C','D','E'],
     'company':['aa','bb','cc','dd','ee'],
     'address':['Hyd','Hyd','Hyd','Hyd','Hyd']}
mydt = pd.DataFrame(dt)

In [7]:
print(mydt)

   Id first_name company address
0  11          A      aa     Hyd
1  12          B      bb     Hyd
2  13          C      cc     Hyd
3  14          D      dd     Hyd
4  15          E      ee     Hyd

In [8]:
import os

In [10]:
os.chdir("D:\\MyData\\")# saves to certain location

FileNotFoundError: [WinError 2] The system cannot find the file specified: 'pathFile'

In [ ]:
mydt.to_csv('WorkingFile.csv',index = False)

In [15]:
pwd

'C:\\Users\\209'

### reading the Data from CSV file

In [16]:
mydata = pd.read_csv('Workingfile.csv')

In [14]:
print(mydata)

   Id first_name company address
0  11          A      aa     Hyd
1  12          B      bb     Hyd
2  13          C      cc     Hyd
3  14          D      dd     Hyd
4  15          E      ee     Hyd

In [20]:
mydata1 = pd.read_csv('WorkingFile.csv',skiprows=1,names=["CustId","Name","Company","Address"])

In [21]:
print(mydata1)

   CustId Name Company Address
0      11    A      aa     Hyd
1      12    B      bb     Hyd
2      13    C      cc     Hyd
3      14    D      dd     Hyd
4      15    E      ee     Hyd

In [22]:
mydata1 = pd.read_csv('WorkingFile.csv',skiprows=[1,2,3],
                     names=["CustId","Name","Company","Address"])

In [23]:
print(mydata1)

  CustId        Name  Company  Address
0     Id  first_name  company  address
1     14           D       dd      Hyd
2     15           E       ee      Hyd

In [25]:
pwd

'C:\\Users\\209'

### Print only Two Columns
### Print the large value from CustID column - max
### Print the least value from CustID column - min
### Average of CustID column -- sum(li)/len(li)

### Numpy - Working with Multi Dimensional array
- numpy arrays is a bit like Python List
- Numpy  is also  data structure 
- It's short name for "Numeric Python" or "Numerical Python"

In [27]:
import numpy as np # import the numpy package

In [29]:
li = [1,2,3,4,5]
print(li,end=" ")

[1, 2, 3, 4, 5]

In [30]:
array = np.array(li)
print(array)

[1 2 3 4 5]

In [31]:
a1 = np.array([(1,2,3),(4,5,6)])
print(a1.shape)

(2, 3)